<!--including header from partials -->
<%- include("partials/header.ejs") -%>

<body>
  <header>
    <h1 class="logo"><strong>ToDO List</strong></h1> <!-- todo list logo-->
    <div id="todoDiv" class="todo-inbox">
      <!--making to list box -->
      <h2 class="list"> <%= listTitle %> </h2>
      <!--get date from local -->

      <% noItem %><!-- geting boolean type no item js var -->
      <% if(noItem==true){ %>
      <!--condition if list is empty-->
      <div class="empty-todo">
        <!--div fro empty loop message-->
        <p class="no-item-pera">looks like you have nothing To-Do</p>
        <!--empty list text-->
        <img class="no-item-img" src="img/nothing.svg" alt="no work">
        <!--vector img for empty list-->
      </div><!-- end of div-->
      <%  } else { %> <!-- if their is items-->
      <!--making todo list item -->
      <ul>
        <% item.forEach(function(item){ %>
        <!-- looping to create new item -->
        <form action="/delete" method="post"><!-- deleate elements form-->
          <div class="ItemBox"><!-- each item box div-->
            <input name="checkbox" type="checkbox" value="<%= item._id %>" onChange="this.form.submit()"><!-- checkbox for todo list on change submit method of js-->
            <li class="list-item"><%=item.value%></li><!-- storing item while looping-->
            <input type="hidden" name="listName" value="<%= listTitle %>"><!-- hidden input to send list title to server-->
          </div><!-- item box end -->
        </form><!-- delete form end -->

        <%  })  %><!-- for each loop end -->
      </ul>
      <!--ejs module end-->

      <%  } %> <!-- else element end-->

    </div><!-- todo inbox end-->

    <form class="ItemInput" action="/" method="post" autocomplete="off">
      <!-- get input from user-->
      <input type="text" id="inputText" name="newItem" placeholder="Add New Item" autofocus>
      <!--input box to-do-->
      <button class="add-btn" name="list" value="<%= listTitle %>" type="submit">+</button>
      <!--submit button-->
    </form>

    <img class="header-img" src="img/main_Img.svg" alt="todo list">
    <!--header img -->

  </header>
  <!--header close-->

  <script type="text/javascript">
    var objDiv = document.getElementById("todoDiv");
    objDiv.scrollTop = objDiv.scrollHeight;

  </script>

  </html>
